@use '../../shared/styles' as *;

// =======================================================================================================
body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: fluid(18, 16);
  color: var(--color-text);
  background-color: var(--color-black);

  &._lock {
    overflow: hidden;
  }

  // press footer
  .page {
    flex: 1 1 auto;
    // fix slider
    min-width: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// =======================================================================================================
// * Утилитарные классы

// сontainer
._container {
  max-width: calc(var(--container) + var(--container-padding-x) * 2);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
}

// visually-hidden
._visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

._back-color {
  background-color: var(--color-black-2);
  border-radius: rem(10);
  padding: fluid(30, 15) rem(10);
}

._error {
  border: rem(2) solid red;
}

._done {
  text-decoration: line-through;
  opacity: .5;
}