@use '../../styles/index' as *;

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(10);
  background-color: #0f0f0f;
  max-width: rem(530);
  width: 100%;
  padding: rem(10) rem(15);
  border-radius: rem(10);


  &__title {
    font-size: fluid(20, 16);
  }

  &__button {
    @include square(rem(30));

    flex-shrink: 0;
    background-color: transparent;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &__img {
    pointer-events: none;
  }
}