@use 'functions' as *;

$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-small: 479.98;

@mixin laptop-above {
  @media (min-width: em($laptop, 16)) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: em($laptop, 16)) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: em($tablet, 16)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: em($tablet, 16)) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: em($mobile, 16)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: em($mobile, 16)) {
    @content;
  }
}

@mixin mobile-small-above {
  @media (min-width: em($mobile-small, 16)) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: em($mobile-small, 16)) {
    @content;
  }
}

@mixin hover($hasActiveEffect: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffect) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}